body {
    min-width: 1200px;
}

/*  <-- Header start -->  */
.header {
    padding-top: 29px;
    padding-bottom: 126px;
    background-image: url("../img/Desktop/banner-bg.jpg");
}

.header-container {
    max-width: 1170px;
    margin-bottom: 100px;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.burger-checkbox {
    display: none;
}

.burger {
    display: none;
}

.menu-list {
    display: flex;
    gap: 35px;
}

.header-logo-link {
    width: 179px;
}

.header-title {
    width: 690px;

    font-size: 45px;
    line-height: 76px;
}

/*  <-- Main start -->  */
.trend-container {
    gap: 5px;
}

.trend-head {
    padding: 60px 15px 30px;
}

/*  <-- Title section page start -->  */
.section-title {
    font-size: 20px;
}

.section-title::after {
    margin-top: 10px;
}
/* <-- Title section page end --> */

.section-content {
    width: calc(100% / 4 - 4px);
    min-height: 320px;
    padding: 15px 20px;
}

.content {
    padding: 35px 28px 32px 32px;
}

.section-trend .list-tag {
    gap: 5px 20px;
    margin-bottom: 10px;

    font-size: 14px;
}

.title-trend {
    font-size: 20px;
    line-height: 24px;
}

.main-container {
    max-width: 1170px;
    padding-top: 62px;
}

.posts {
    width: 67%;
    gap: 60px;
}

.posts-container {
    border-bottom: none;
    flex-direction: row;
    gap: 30px;
    padding: 0;
}

.post-img {
    width: 50%;
}

.post-content .list-tag {
    margin-bottom: 4px;
    gap: 18px;
}

.posts .post-title {
    margin-bottom: 23px;

    font-size: 20px;
    line-height: 23px;
}

.post-meta {
    margin-bottom: 43px;
}

.new-post-head {
    padding-bottom: 28px;
}

.new-post-container {
    margin-bottom: 63px;
}

.mailing-head {
    padding-top: 61px;
}

.mailing-group {
    margin-bottom: 20px;
}

.tag-head {
    padding-top: 59px;
    padding-bottom: 27px;
}

.section-container .list-tag {
    gap: 3px 7px;
}

.topic-head {
    padding-top: 59px;
    padding-bottom: 26px;
}

.goods-container {
    max-width: 1170px;
    gap: 5.5%;
    flex-wrap: nowrap;
}

.goods-head {
    padding-top: 64px;
    padding-bottom: 31px;
}

.goods {
    width: calc(100% / 3);
}

.goods picture {
    padding-left: 24px;
    padding-right: 24px;
}

.img-goods {
    width: 100%;
    object-fit: cover;
}

.container-goods {
    padding: 52px 19px 26px;
}

.title-goods {
    margin-bottom: 4px;

    font-size: 20px;
}

.content-goods {
    line-height: 22px;
}

.frequence {
    margin-bottom: 31px;
}

.radio-group-text {
    margin-right: 16px;
}

.radio-group-text::before {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;    
}

.popup-button-close {
    width: 18px;
    height: 18px;
    top: -137px;
}

/*  <-- Footer start -->  */
.footer {
    margin-top: 64px;
    padding-right: 245px;
    padding-left: 245px;
    gap: 72px;
}

.copyright {
    padding-left: 13px;
}
