html, body, div, span, h1, h2, h3, p,
a, address, img, small, ol, ul, li,
form, label, article, aside, footer,
header, menu, nav, section, time {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, footer, header,
menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
    text-transform: inherit;
}
input, button {
    font: inherit;
}
a {
    text-decoration: none;
    color: inherit;
    text-transform: inherit;
}
button {
    padding-block: 0;
    padding-inline: 0;
    background: none;
    border: none;
    cursor: pointer;
}
img {
    font: inherit;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

@font-face {
font-family: "OpenSans";
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans-Regular"),
       url("../fonts/OpenSans-Regular.woff2") format("woff2"),
       url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
font-family: "OpenSans";
    font-weight: 700;
    font-display: swap;
    src: local("OpenSans-Bold"), 
        url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.ttf") format("ttf");
}

body {
    min-width: 360px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
}

/*  <-- Header start -->  */
.header {
    position: relative;
    z-index: 0;
    padding-top: 31px;
    padding-bottom: 212px;
    background-image: url("../img/Mobile/banner-mobile.jpg");
    text-transform: uppercase;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.header-container {
    margin-bottom: 33px;
}

.menu {
    display: flex;
    justify-content: end;
    padding-right: 16px;
    margin-bottom: 174px;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    border: none;
    background: transparent;
    width: 24px;
    height: 19px;
    order: 4;
    margin-left: 15px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: #ffffff;
}

.burger::before {
    box-shadow: 0 8px 0 #ffffff;
}

.burger::after {
    bottom: 0;
}

.menu-list {
    display: none;
    gap: 10px 25px;
    padding-right: 15px;
}

.menu-item {
    display: block;
    color: white;
    font-size: 13px;
    text-align: center;
}

.menu-item:hover {
    text-decoration: underline;
}

.burger-checkbox:checked ~ .menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-logo-link {
    display: block;
    width: 268px;
    margin: 0 auto;
}

.header-title {
    width: 332px;
    margin-left: auto;
    margin-right: auto;

    font-size: 27px;
    font-weight: 700;
    line-height: 36px;
    color: white;
    text-align: center;
}

/*  <-- Main start -->  */
.trend-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.trend-head {
    padding: 41px 15px 25px;
}

/*  <-- Title section page start -->  */
.section-title {
    text-align: center;

    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    display: block;
}
/* <-- Title section page end --> */

.img-content {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;   
    background-size: cover;
}

.img-flowers {
    background-image: url("../img/trend/img-flowers.jpg");
}

.img-cheeses {
    background-image: url("../img/trend/img-cheeses.jpg");
}

.img-mountains {
    background-image: url("../img/trend/img-mountains.jpg");
}

.img-lemons {
    background-image: url("../img/trend/img-lemons.jpg");
}

.section-content {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    min-height: 232px;
    padding: 13px 15px 16px;
}

@media (orientation: landscape) and (max-width: 640px) {
    .trend-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-content {
        width: calc(100% / 2 - 2px);
    }
}

.section-content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.content {
    box-sizing: border-box;
    border: 4px solid #b59f5b;
    width: 100%;
    padding: 31px 17px 25px;
}

.tag {
    text-transform: uppercase;
}

.section-trend .list-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
    margin-bottom: 13px;

    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
}

.section-trend .tag:hover {
    text-decoration: underline;
}

.title-trend {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}

.title-trend:hover {
    color: #b59f5b;
}

.posts {
    padding: 42px 15px 0;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.posts-container {
    box-sizing: border-box;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.post-img {
    width: 100%;
}

.post-content .list-tag {
    margin-bottom: 8px;
    display: flex;
    gap: 18px;
}

.post-content .tag {
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
}

.post-content .tag:hover {
    text-decoration: underline;    
}

.post-title {
    margin-bottom: 17px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}

.post-title:hover {
    color: #b59f5b;
}

.post-meta {
    display: flex;
    gap: 10px;
    margin-bottom: 11px;
}
  
.post-content .post-time {
    font-size: 12px;
    color: #888888;
}
  
.post-content .post-author {
    font-weight: 700;
    font-size: 12px;
    color: #000000;
}

.post-content {
    font-size: 14px;
    line-height: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.new-post-head {
    padding-top: 40px;
    padding-bottom: 26px;
}

.new-post-container {
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.new-post-content {
    display: flex;
    gap: 20px;
}

.new-post-img {
    width: 70px;
    height: 70px;
}

.new-post-content .post-time {
    font-size: 12px;
    color: #000000;
}

.new-post-content .post-title {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.form-search {
    height: 48px;
    position: relative;
}

.field {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 66px;
    background-color: #f4f7f6;
    border: 0;
}
  
.field::placeholder {
    font-weight: 400;
    font-size: 13px;
    color: #888888;
    opacity: 0.56;
}
  
.field:focus {
    outline: 1px solid #b59f5b;
}
  
.search-button {
    border: 0;
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}
  
.search-button:hover {
    background-color: #323232;
}
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.mailing-head {
    padding-top: 44px;
    padding-bottom: 22px;
}

.mailing-group {
    display: block;
    width: 100%;
    margin-bottom: 18px;
}

.mailing-button {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: 0;
  
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}

.mailing-button:hover {
    background-color: #323232;
}

.tag-head {
    padding-top: 43px;
    padding-bottom: 25px;
}

.section-container .list-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;
  }
  
.section-container .tag {
    display: flex;
    padding: 7px 13px;
  
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    border: 3px solid #eeeeee;
    box-sizing: border-box;
}
  
.section-container .tag:hover {
    border: 3px solid #b59f5b;
    text-decoration: none;
} 

.topic-head {
    padding-top: 40px;
    padding-bottom: 26px;
}

.topic-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.topic {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 14px;
    position: relative;
}

.topic-link {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.topic-link:hover {
    color: #b59f5b;
}

.topic-num {
    font-weight: 700;
    font-size: 12px;
    color: #b59f5b;
    position: absolute;
    padding-left: 4px;
}

.goods-head {
    padding-top: 44px;
    padding-bottom: 31px;
}

.goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

.img-goods {
    display: block;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.container-goods {
    box-sizing: border-box;
    border: 3px solid #b59f5b;
    padding: 48px 22px 26px 18px;
    margin-top: -31px;
}

.title-goods {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.content-goods {
    margin-bottom: 25px;

    font-size: 15px;
    line-height: 21px;
}

.link-goods {
    color: #b59f5b;
}

.link-goods:hover {
    text-decoration: underline;
}

.container-goods .container {
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 9px;

}

.old-price-goods {
    font-weight: 700;
    font-size: 14px;
    text-decoration: line-through;
}

.new-price-goods {
    font-weight: 700;
    font-size: 20px;
}

.button-goods {
    width: 140px;
    height: 48px;
    color:#ffffff;
    background-color: #b59f5b;
}

.button-goods:hover {
    background-color: #323232;
}

.button-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 330px;
    padding-top: 28px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.popup-head {
    padding-bottom: 29px;
}

.form-popup {
    position: relative;
    font-size: 13px;
}

.popup-content {
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 25px;
}

.element-captions {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 15px;
}

.frequence {
    width: 100%;
    height: 48px;
    background-image: url(../svg/form-arrows.svg);
    background-size: 9px 17px;
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-color: #f4f7f6;
    border: none;
    padding-left: 20px;
    padding-top: 1px;
    margin-bottom: 29px;
    color: rgba(0, 0, 0, 0.54);
}

.frequence:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.radio-group {
    margin-bottom: 31px;
}

input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio-group-text {
    position: relative;
    margin-right: 29px;
    cursor: pointer;
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;

    width: 25px;
    height: 25px;

    background-image: url(../svg/form-empty-circle.svg);
    background-size: 25px 25px;    
}

input[type="radio"]:focus-visible + .radio-group-text {
    outline: 1px solid #b59f5b;

}

input[type="radio"]:checked + .radio-group-text::before {
    background-image: url(../svg/form-circle.svg);
}


.content-site-textarea {
    width: 100%;
    height: 131px;
    background-color: #f4f7f6;
    border: none;
    box-sizing: border-box;
    resize: none;
    padding: 19px 22px;

}

.content-site-textarea::placeholder {
    color: rgba(0, 0, 0, 0.54);
}

.content-site-textarea:focus {
    outline: 1px solid #b59f5b;
}

.popup-button {
    margin-left: 22px;
    margin-right: 22px;
    width: 286px;
    height: 48px;
    background-color: #b59f5b;
  
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

.popup-button:hover {
    background-color: #323232;
}

.popup-button-close {
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    color: #fff;
    position: absolute;
    top: -119px;
    right: 0;
    cursor: pointer;
    background-image: url(/svg/form-x.svg);
  }

/*  <-- Footer start -->  */
.footer {
    margin-top: 18px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  
.list-logo {
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.item-logo {
    margin-left: 27px;
}

.item-logo:first-child {
    margin-left: 0;
}

.logo-link {
    display: block;
    width: 20px;
    height: 20px;
}

.dribbble-img {
    background-image: url(/svg/001-dribbble.svg);
}

.pinterest-img {
    background-image: url(/svg/001-pinterest.svg);
}

.tumblr-img {
    background-image: url(/svg/003-tumblr.svg);
}

.copyright {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 12px;
    color: #999999;
}





