body {
    min-width: 641px;
}

/*  <-- Header start -->  */
.header {
    padding-top: 43px;
    padding-bottom: 112px;
    background-image: url("../img/Table/banner-bg-tablet.jpg");
}

.header-container {
    max-width: 698px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.menu {
    padding-right: 0;
    margin-bottom: 0;
    align-items: center;
}

.burger {
    margin-left: 30px;
}

.menu-list {
    padding-right: 0;
}

.burger-checkbox:checked ~ .menu-list {
    display: flex;
    gap: 35px;
}

.header-logo-link {
    width: 158px;
    margin: 0;
}

.header-title {
    width: 611px;

    font-size: 40px;
    line-height: 56px;
}

/*  <-- Main start -->  */
.trend-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.trend-head {
    padding: 45px 35px 18px;
}

/*  <-- Title section page start -->  */
.section-title {
    font-size: 18px;
}

.section-title::after {
    margin-top: 14px;
}
/* <-- Title section page end --> */

.section-content {
    width: calc(100% / 2 - 2px);
    min-height: 246px;
    padding: 13px 18px;
}

@media (orientation: landscape) {
    .trend-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-content {
        width: calc(100% / 4 - 3px);
    }
}

.content {
    padding: 32px 30px 30px 30px;
}

.section-trend .list-tag {
    margin-bottom: 8px;
}

.title-trend {
    font-size: 17px;
    line-height: 22px;
}

.main-container {
    max-width: 698px;
    display: flex;
    gap: 31px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.posts {
    width: 56%;
    padding: 0 0 0 15px;
    gap: 39px;
}

.posts-container {
    gap: 13px;
}

.post-content .list-tag {
    margin-bottom: 8px;
    gap: 18px;
}

.posts .post-title {
    margin-bottom: 22px;

    font-size: 17px;
    line-height: 22px;
}

.post-meta {
    margin-bottom: 26px;
    line-height: 27px;
}

.post-content {
    font-size: 15px;
    line-height: 21px;
}

.post-content-margin {
    margin-bottom: 12px;
}

.sidebar {
    padding: 0 15px 0 0;
    width: 273px;
}

.new-post-head {
    padding-top: 0;
    padding-bottom: 23px;
}

.sidebar .section-title {
    font-size: 14px;
}

.new-post-container {
    margin-bottom: 65px;
}

.new-post-container .post-title{
    margin: 0;
}

.mailing-head {
    padding-top: 60px;
}

.tag-head {
    padding-top: 57px;
    padding-bottom: 22px;
}

.topic-head {
    padding-top: 57px;
    padding-bottom: 24px;
}

.goods-container {
    max-width: 698px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 22px;
    margin-left: auto;
    margin-right: auto;
}

.goods-head {
    padding-top: 42px;
    padding-bottom: 26px;
}

.goods {
    width: calc(100% / 2 - 11px);
    padding: 0;
    margin: 0;
    justify-content: start;
}

.goods picture {
    padding-left: 24px;
    padding-right: 24px;
}

.img-goods {
    width: 100%;
    object-fit: cover;
}

.container-goods {
    height: 100%;
    padding: 52px 20px 24px;
}

.content-goods {
    margin-bottom: 22px;

    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

.popup {
    width: 390px;
    padding-top: 52px;
    padding-bottom: 54px;
}

.popup-head {
    padding-bottom: 26px;
}

.popup-content {
    padding-left: 28px;
    padding-right: 28px;
}

.element-captions {
    margin-bottom: 11px;
}

.content-site-textarea {
    padding-left: 22px;
    padding-top: 15px;
}

.popup-button {
    margin-left: 28px;
    margin-right: 28px;
    width: 330px;
}

.popup-button-close {
    top: -150px;
  }

  /*  <-- Footer start -->  */
.footer {
    margin-top: 54px;
    padding-right: 35px;
    padding-left: 35px;
    gap: 49px;
}


